---
layout: default
---
<nav class="storyboard-cut-nav">
  <a href="{{ site.baseurl }}/docs/storyboard/{{ page.scene }}/">≪{{ page.scene }}</a>
</nav>
<article class="cut">

  <header class="cut-header">
    <h1 class="cut-title">{{ page.scene }}_{{ page.cut }}</h1>
  </header>

  <div class="cut-content">
    <div class="cut-images">
    {% if page.image_names %}
      {% for item in page.image_names %}
        <img src=".previews/{{ item }}.jpg" />
      {% endfor %}
    {% elsif page.cut %}
        <img src=".previews/{{ page.cut }}.jpg" />
    {% else %}
        {% assign filename = page.name | replace: '.html', '' | replace: '.md', '' %}
        <img src=".previews/{{ filename }}.jpg" />
    {% endif %}
    </div>
    <section class="cut-meta">
      <h1>カット情報</h1>
      <table class="cut-metatable">
          <tr>
            <th>秒数</th>
            <td>
              {{ page.length }} 秒
            </td>
          </tr>
          <tr>
            <th>タグ</th>
            <td>
              {% if page.tags %}
                <ul class="cut-taglist">
                {% for tagname in page.tags %}
                  <li>{{ tagname }}</li>
                {% endfor %}
                </ul>
              {% endif %}  
            </td>
          </tr>
          <tr>
            <th>参照カット</th>
            <td>
              {% if page.refs %}
                <ul class="cut-reflist">
                {% for ref in page.refs %}
                  <li>
                    <a href="{{ site.baseurl }}/docs/storyboard/{{ ref.scene }}/{{ ref.cut }}.html">{{ ref.scene }}_{{ ref.cut }}</a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}
                
            </td>
          </tr>
          <tr>
            <th>JIRA課題</th>
            <td>
              <ul class="cut-reflist">

                {% if page.jira_cut %}
                  <li>
                    <a href="{{ site.jira_url }}/browse/{{ page.jira_cut}}">カット課題</a>
                  </li>
                {% endif %}
              </ul>
            </td>
          </tr>
          <tr>
            <th>PSDダウンロード</th>
            <td>
              <ul class="cut-psdlist">
              {% if page.image_names %}
                {% for item in page.image_names %}
                  <li><a href="{{ site.repo_raw_baseurl }}/docs/storyboard/{{ page.scene }}/{{ item }}.psd">{{ item }}.psd</a></li>
                {% endfor %}
              {% elsif page.cut %}
                  <li><a href="{{ site.repo_raw_baseurl }}/docs/storyboard/{{ page.scene }}/{{ page.cut }}.psd">{{ page.cut }}.psd</a></li>
              {% else %}
                  {% assign filename = page.name | replace: '.html', '' | replace: '.md', '' %}
                  <li><a href="{{ site.repo_raw_baseurl }}/docs/storyboard/{{ page.scene }}/{{ filename }}.psd">{{ filename }}.psd</a></li>
              {% endif %}
              </ul>
            </td>
          </tr>
      </table>
    </section>
    {{ content }}
  </div>

</article>
<nav class="storyboard-cut-nav">
  <a href="{{ site.baseurl }}/docs/storyboard/{{ page.scene }}/">≪{{ page.scene }}</a>
</nav>