---
layout: default
---

<nav class="scene-nav">
  {% if page.prev_scene %}
    <a href="{{ site.baseurl }}/docs/storyboard/{{ page.prev_scene }}/">≪戻る</a>
  {% endif %}
  &nbsp;
  {% assign scenelist = (site.pages | where: "layout", "storyboard-scene" | sort: 'sort') %}
  {% for scenepage in scenelist %}
    {% if scenepage.scene == page.scene %}
      <strong>{{ scenepage.scene }}</strong>
    {% else %}
      <a href="{{ scenepage.url | prepend: site.baseurl }}">{{ scenepage.scene }}</a>
    {% endif %}
  {% endfor %}
  &nbsp;
  {% if page.next_scene %}
    <a href="{{ site.baseurl }}/docs/storyboard/{{ page.next_scene }}/">次へ≫</a>
  {% endif %}
</nav>
<article class="scene">
  <div class="cutlist">
    {% assign total_length = 0 %}
    {% assign scene = page.scene %}
    {% assign pagelist = (site.pages | where:"scene", scene | where: "layout", "storyboard-cut" | sort: 'cut') %}
    {% for cutpage in pagelist %}
      <section class="cutlist-item">
        {% if cutpage.length %}
        {% assign total_length = total_length | plus: cutpage.length %}
        {% endif %}
        <header class="cutlist-item-header">
          <h1 class="cutlist-item-title"><a href="{{ cutpage.url | prepend: site.baseurl }}">{{ cutpage.scene }}_{{ cutpage.cut }}</a></h1>
          <div class="cutlist-item-meta">
            カット尺: {{ cutpage.length }} 秒
            {% if cutpage.jira_cut %}| <a href="{{ site.jira_url }}/browse/{{ cutpage.jira_cut}}">JIRA課題</a>{% endif %}
            | <a href="{{ cutpage.url | prepend: site.baseurl }}">カット詳細情報</a>
          </div>
        </header>
        <div class="cutlist-item-content">
          <div class="cutlist-item-images">
            <a href="{{ cutpage.url | prepend: site.baseurl }}">
            {% if cutpage.image_names %}
              {% for item in cutpage.image_names %}
                <img src=".thumbnails/{{ item }}.jpg" />
              {% endfor %}
            {% elsif cutpage.cut %}
                <img src=".thumbnails/{{ cutpage.cut }}.jpg" />
            {% else %}
                {% assign filename = cutpage.name | replace: '.html', '' | replace: '.md', '' %}
                <img src=".thumbnails/{{ filename }}.jpg" />
            {% endif %}
            </a>
          </div>
          <div class="cutlist-item-summary">
            {{ cutpage.content }}
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
  合計秒数: {{ total_length }}秒　（{{ total_length | divided_by: 60 | floor}}分{{ total_length | modulo: 60}}秒）<br />
  <a href="../AUTHORS.txt">クレジット</a>
</article>

<nav class="scene-nav">
  {% if page.prev_scene %}
    <a href="{{ site.baseurl }}/docs/storyboard/{{ page.prev_scene }}/">≪戻る</a>
  {% endif %}
  &nbsp;
  {% for scenepage in scenelist %}
    {% if scenepage.scene == page.scene %}
      <strong>{{ scenepage.scene }}</strong>
    {% else %}
      <a href="{{ scenepage.url | prepend: site.baseurl }}">{{ scenepage.scene }}</a>
    {% endif %}
  {% endfor %}
  &nbsp;
  {% if page.next_scene %}
    <a href="{{ site.baseurl }}/docs/storyboard/{{ page.next_scene }}/">次へ≫</a>
  {% endif %}
</nav>