<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.layout == "storyboard-scene" %}
    {% assign pagetitle = "絵コンテ " | append: page.scene %}
  {% elsif page.layout == "storyboard-cut" %}
    {% assign pagetitle = "絵コンテ " | append: page.scene | append: "_" | append: page.cut %}
  {% else %}
    {% assign pagetitle = page.title %}
  {% endif %}
  <title>{{ pagetitle | escape }} - {{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/docs/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
