---
layout: page
title: "絵コンテ"
---


<article>
  <ul class="scenelist">
    {% assign pagelist = (site.pages | where: "layout", "storyboard-scene" | sort: 'scene') %}
    {% for scenepage in pagelist %}
        <li><a href="{{ scenepage.url | prepend: site.baseurl }}">{{ scenepage.scene }}</a></li>
      
    {% endfor %}
  </ul>
  <a href="AUTHORS.txt">クレジット</a>
</article>